<H1>Create Initiative</H1>
<form class="form-style">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" [(ngModel)]="title" [ngModelOptions]="{standalone: true}" required>
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <textarea type="text" id="description" [(ngModel)]="description" [ngModelOptions]="{standalone: true}" required></textarea>
  </div>
  <p>Geolocation:</p> <input type="button" class="chooseOnMap" value="Choose on map" (click)="chooseLocation()"/>
  <div class="form-group coordinates">
    <span>Longtitude: {{locationData?.lng}}</span>
    <span>Latitude: {{locationData?.lat}}</span>
  </div>
  <div class="form-group">
    <label for="title">Acceptance</label>
    <input type="text" class="form-control" id="acceptance" [(ngModel)]="acceptance" [ngModelOptions]="{standalone: true}" required>
  </div>
  <input type="button" class="addInitiative" value="Create initiative" (click)="createInitiative()"/>
</form>



