<div class="about-page">
  <h1><img class="logo" src="/assets/img/logo.svg"/>Initiative Society</h1>
  <p>
    Initiative Society is an online social welfare platform built on Ethereum Blockchain.
  </p>
  <p>
    This platform is a prototype of online service, where people can create any geo-bound
    initiatives (like planting flowers, cleaning garbage, etc), vote for them, crowdfund or complete
    them. <b>Prototype</b> here means that this project implements a concept which, of course, can
    be improved to meet real-world conditions.
  </p>
  <h3>Workflow:</h3>
  <ol>
    <li>Anyone can create an initiative. This will add a marker with initiative to a map.</li>
    <li>Anyone can fund (send Ether to) this initiative, if they're interested to back it.</li>
    <li>Then, anyone else (<b>executor</b>) can complete this initiative in a real world and claim the initiative as completed.</li>
    <li>After that, people who funded this initiative start to vote on the result (accept/reject).</li>
    <li>Once the result is accepted by the majority of voters, <b>executor</b> receives all funds collected by the initiative.</li>
    <li>If the result was rejected by the majority, initiative moves to the step 3.</li>
  </ol>
  <h3>Setup:</h3>
  <p>
    If you use <b>Metamask</b> or <b>MyEtherWallet</b> (or any other meta-software for Ethereum),
    switch the network to <code>{{ rpcLocation }}</code>. This is a Truffle's Ganache test node.
  </p>
  <p>
    <a href="https://github.com/ZitRos/initiative-society" target="_blank">GitHub</a>
  </p>
  <p>
    By <a href="https://nikita.tk" target="_blank">Nikita</a> and
    <a href="https://github.com/NatalieTr" target="_blank">Natalie</a>
  </p>
</div>
