<div class="initiative-page">
  <img *ngIf="initiative.image" src="{{ initiative.image }}"/>
  <h1>{{ initiative.title || "Loading..." }}</h1>
  <div>
    Total funds collected: <b>{{ toEth(initiative.totalFunds || 0) }} ETH</b>
  </div>
  <div>
    Initiative state:
    <b>{{ initiative.closed ? "closed" : initiative.executor ? "judged" : "fundraising" }}</b>
  </div>
  <div *ngIf="initiative.executor">
    Executed by: <b>{{ initiative.executor }}</b>
  </div>
  <div *ngIf="initiative.executor">
    Voting: <span class="positive-votes">{{ countVotes(initiative.votes) }}%</span> /
    <span class="negative-votes">{{ countVotes(initiative.votes, false) }}%</span>
  </div>
  <p [innerHTML]="initiative.description"></p>
  <hr class="clear"/>
  <h3>Backers:</h3>
  <ul class="backers">
    <li *ngFor="let backer of initiative.backers">
      {{ backer }} <b>{{ toEth(initiative.funds[backer] || 0) }} ETH</b>
      {{
        (initiative.voting || {}).hasOwnProperty(backer)
          ? (initiative.voting[backer] ? "(confirmed)" : "(declined)")
          : ""
      }}
    </li>
  </ul>
  <div *ngIf="!initiative.executor">
    <label>
      <input id="fund-amount" type="number" value="0" min="0"/>
      <button (click)="fundInitiative(initiative.id)">Fund Initiative</button>
    </label>
  </div>
  <div *ngIf="initiative.executor && !initiative.closed">
    <label *ngIf="(initiative.voting || {}).hasOwnProperty(myWallet)">
      You have already voted: <b>{{ initiative.voting[myWallet] ? "confirm" : "decline" }}</b>
    </label>
    <label *ngIf="!(initiative.voting || {}).hasOwnProperty(myWallet)">
      Vote:
      <button (click)="voteForInitiative(initiative.id, true)">confirm</button>
      <button (click)="voteForInitiative(initiative.id, false)">decline</button>
    </label>
  </div>
</div>
