.initiative-page {

  position: relative;
  margin: 12px;

  .clear {
    clear: both;
  }

  .backers {
    font-family: monospace;
  }

  img { // why this doesn't apply?

    max-height: 40%;
    max-width: 100%;

  }

  img:first-child {

    max-width: 20%;
    float: left;
    margin: 0 10px 10px 0;

    @media only screen and (max-width: 700px) {
      & {
        max-width: 100%;
        margin: 0;
      }
    }

  }

}

.positive-votes {
  color: green;
}

.negative-votes {
  color: red;
}
