<div class="initiative-page">
  <img *ngIf="initiative.image" src="{{ initiative.image }}"/>
  <h1>{{ initiative.title || "No title" }}</h1>
  <div>
    Genuine: <b class="{{ initiative.verified ? 'ok' : 'red' }}">{{ (!!initiative.verified + "").toUpperCase() }}</b>
  </div>
  <div>
    Total funds collected: <b>{{ toEth(initiative.totalFunds || 0) }} ETH</b>
  </div>
  <div>
    Initiative state:
    <b>{{ initiative.closed ? "closed" : initiative.executor ? "judged" : "fundraising" }}</b>
  </div>
  <div *ngIf="initiative.executor">
    Executed by: <b>{{ shortenAddress(initiative.executor) }}</b>
  </div>
  <div *ngIf="initiative.executor">
    Voting: <b class="positive-votes">{{ countVotes(initiative) }}%</b> /
    <b class="negative-votes">{{ countVotes(initiative, false) }}%</b>
    (<b>{{ (initiative.votes || []).length }}</b> vote{{ (initiative.votes || []).length > 1 ? "s" : "" }})
  </div>
  <div>
    Accept threshold:
    <b class="positive-votes">{{ initiative.acceptance }}%</b>
  </div>
  <div>
    Location: <b>{{ initiative.latitude }}, {{ initiative.longitude }}</b>
  </div>
  <p [innerHTML]="initiative.description"></p>
  <hr class="clear"/>
  <h3>Backers:</h3>
  <ul class="backers">
    <li *ngFor="let backer of initiative.backers">
      {{ shortenAddress(backer) }} <b>{{ toEth(initiative.funds[backer] || 0) }} ETH</b>
      {{
        (initiative.voting || {}).hasOwnProperty(backer)
          ? (initiative.voting[backer] ? "(confirmed)" : "(declined)")
          : ""
      }}
    </li>
  </ul>
  <div *ngIf="!initiative.executor">
    <label>
      <input id="fund-amount" type="number" value="0" min="0"/>
      <button (click)="fundInitiative(initiative.id)">Fund Initiative</button>
    </label>
    <button (click)="completeInitiative(initiative.id)">Mark as completed</button>
  </div>
  <div *ngIf="initiative.executor && !initiative.closed && initiative.backers.indexOf(myWallet.toLowerCase()) !== -1">
    <label *ngIf="(initiative.voting || {}).hasOwnProperty(myWallet.toLowerCase())">
      You have already voted: <b>{{ initiative.voting[myWallet.toLowerCase()] ? "confirm" : "decline" }}</b>
    </label>
    <label *ngIf="!(initiative.voting || {}).hasOwnProperty(myWallet.toLowerCase())">
      Vote:
      <button (click)="voteForInitiative(initiative.id, true)">confirm</button>
      <button (click)="voteForInitiative(initiative.id, false)">decline</button>
    </label>
  </div>
</div>
