<div class="template template_map">
  <router-outlet></router-outlet>
</div>

<div class="menu">
  <div class="wrap" routerLink="">
    <div class="menu_img map"></div>
    <p>Map</p>
  </div>
  <div class="wrap" routerLink="cabinet">
    <div class="menu_img cabinet"></div>
    <p>Home<p>
  </div>
  <div class="wrap" routerLink="my-initiatives">
    <div class="menu_img myInitiatives"></div>
    <p>My initiatives<p>
  </div>
  <div class="wrap" routerLink="info">
    <div class="menu_img info"></div>
    <p>About</p>
  </div>
</div>
