$bottomMenuHeight: 48px;
$bottomMenuMargin: 10px;

.template {
  position: relative;
  padding-bottom: $bottomMenuHeight + $bottomMenuMargin;
  min-height: 100%;
}

.menu {

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $bottomMenuHeight;
  position: fixed;
  bottom: $bottomMenuMargin;
  pointer-events: none;
  z-index: 999;

  > .wrap {

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin: 0 $bottomMenuMargin/2;

    .menu_item {

      cursor: pointer;
      background: white;
      box-shadow: 0 1px 3px gray;
      border-radius: 24px;
      padding: 2px;
      pointer-events: all;

      > * {
        display: inline-block;
        white-space: nowrap;
        vertical-align: middle;
      }

      p {

        font-weight: 700;
        font-size: 25px;
        //margin-left: 15px;
        white-space: nowrap;
        margin: 0;
        padding: 0 8px 0 2px;

        @media only screen and (max-width: 700px) {
          & {
            display: none;
          }
        }

      }

    }

  }

}

.menu_img {
  display: block;
  width: 45px; /* Width of new image */
  height: 45px; /* Height of new image */
}

.menu_img.map {
  background: url(../assets/img/world-map.svg) no-repeat;
}

.menu_img.cabinet {
  background: url(../assets/img/student.svg) no-repeat;
}

.menu_img.info {
  background: url(../assets/img/info3.svg) no-repeat;
}

.menu_img.myInitiatives {
  background: url(../assets/img/light-bulb.svg) no-repeat;
}
