/* You can add global styles to this file, and also import other style files */
@import "~toaster-js/default.scss";

html, body {
  margin: 0;
  padding: 0;
}

.initiative-page img {
  max-width: 100%;
}

.gm-style div {
  font-weight: bold;
  font-family: Roboto, sans-serif;
  font-size: 14px;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5);
}
